
body {
  color: #131111;
}

/* FOR  BACKGROUND*/

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #0c0c0d;
  border-radius: .0rem;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
  color: #fff;
}

.jumbotron .container {
  max-width: 60rem;
}
