/* FOR MAIN PAGE BACKGROUND (CAROUSEL)*/

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 42rem;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 46rem;
}


/* FOR FORM*/

.control {

    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    padding: .875rem 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 1.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* RESPONSIVE CSS*/

@media (min-width: 40em) {

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
