
body {
  color: #fff;
  background-color: #212529;
}

.space50 {
  margin-bottom: 50px;
}

.container {
  max-width: 960px;
}

.pb-5, .py-5 {
  background-color: #2a3034;
}

.lh-condensed {
 line-height: 1.25;
}

/* FOR MAIN PAGE BACKGROUND (CAROUSEL)*/

.carousel-caption {
  bottom: 4rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* RESPONSIVE CSS*/

@media (min-width: 40em) {

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
