<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Others Profile</title>

    <!--  CSS -->
    <link href="{% static "css/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/self/othersprofile.css" %}" rel="stylesheet">

    <style>
      #home {
        background-image: url('{% static 'images/background.png' %}');
        background-size: auto;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>

<body id="home">

  <header>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top dark">
          <div class="name space40">
            <a href="{% url 'accounts:index' %}"> <img src="{% static "images/AvenzonePerfect.png" %}" width="40" height="40" alt="" loading="lazy">Avenzone</a>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample03">

            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <a class="textmuted" href="#" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="2em" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
              </a>
            </form>

            <li class="nav-item dropdown">
              <a class="textmuted" href="#" aria-label="Search" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg width="1.75em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
              </a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'accounts:verification' %}">Verification</a>
                <a class="dropdown-item" href="{% url 'accounts:password' %}">Password</a>
                <a class="dropdown-item" href="{% url 'accounts:feedback' %}">Feedback</a>
                <a class="dropdown-item" href="{% url 'accounts:logoutbase' %}">Log Out</a>
              </div>
            </li>
         </div>

        <div class="space40">
          <a class="textmuted" href="{% url 'accounts:othersprofile' %}" aria-label="Search">
            <svg width="1.75em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg>
          </a>
        </div>

        <div class="space40">
          <a class="textmuted" href="{% url 'accounts:explore' %}" aria-label="Search">
            <svg width="1.75em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
          </a>
        </div>

        <div class="space40">
          <a class="textmuted" href="{% url 'accounts:notification' %}" aria-label="Search">
            <svg width="1.75em" height="2em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
            </svg>
          </a>
        </div>

        <div class="space40">
          <a class="textmuted" href="{% url 'accounts:home' %}" aria-label="Search">
            <svg width="1.75em" height="2em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
          </a>
        </div>
    </nav>
  </header>



 <main role="main" class="container">

    <div class="space80"></div>

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark ">
      <div class="col-md-6 px-0">
        <img src="{% static "images/774615.jpg" %}" width="100%" height="80%" alt="" loading="lazy">
        <button type="button" class="btn btn-danger">Upload</button>
      </div>
    </div>


  <div class="row mb-2">

    <div class="col-md-8">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <div class ="info">
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" >Continue reading</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <button type="button" class="btn btn-danger">Follow</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">

      <div class="row space30">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
        </svg>
        <div class="space40"></div>
        <h4 class="font-italic">Rating</h4>
      </div>

      <div class="row space30">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-emoji-sunglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM6.5 6.497V6.5h-1c0-.568.447-.947.862-1.154C6.807 5.123 7.387 5 8 5s1.193.123 1.638.346c.415.207.862.586.862 1.154h-1v-.003l-.003-.01a.213.213 0 0 0-.036-.053.86.86 0 0 0-.27-.194C8.91 6.1 8.49 6 8 6c-.491 0-.912.1-1.19.24a.86.86 0 0 0-.271.194.213.213 0 0 0-.036.054l-.003.01z"/>
        <path d="M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM9 5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-2-2V5z"/>
        </svg>
        <div class="space40"></div>
        <h4 class="font-italic">About</h4>
      </div>

      <div class="row space30">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
        </svg>
        <div class="space40"></div>
        <h4 class="font-italic">Friends</h4>
      </div>


    </div>
  </aside>

    <div class="col-md-8 blog-main">

      <div class="info">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          From the Gamers
        </h3>
      </div>

      <div class="space30"></div>

      <div class="card" style="width: 28rem;">
        <h5 class="card-title"><img src="{% static "images/lady.jpg" %}" width="30" height="30" alt="" loading="lazy" radiuis="50%"> Card title</h5>
        <img src="{% static "images/back 1.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <div style="line-height: 5px" >
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Comment" aria-label="Search">
            <a href="#" class="btn btn-danger">Post</a>
          </form>
        </div>
      </div>

        <div class="space30"></div>

        <div class="card" style="width: 28rem;">
          <h5 class="card-title"><img src="{% static "images/lady.jpg" %}" width="30" height="30" alt="" loading="lazy" radiuis="50%"> Card title</h5>
          <img src="{% static "images/back 2.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <div style="line-height: 5px" >
            <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
            <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
            <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
            <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
            <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Comment" aria-label="Search">
              <a href="#" class="btn btn-danger">Post</a>
            </form>
          </div>
        </div>

      <div class="space30"></div>

      <div class="card" style="width: 28rem;">
        <h5 class="card-title"><img src="{% static "images/lady.jpg" %}" width="30" height="30" alt="" loading="lazy" radiuis="50%"> Card title</h5>
        <img src="{% static "images/back 5.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <div style="line-height: 5px" >
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Comment" aria-label="Search">
            <a href="#" class="btn btn-danger">Post</a>
          </form>
        </div>
      </div>

      <div class="space30"></div>

    <div class="blog-post">
      <h2 class="blog-post-title">Sample blog post</h2>
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <p>Cum sociis natoque penatibus et magnis  nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
      </div>
      <div class="card-body">
        <div style="line-height: 5px" >
        <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
        <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
        <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
        <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
        <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Comment" aria-label="Search">
          <a href="#" class="btn btn-danger">Post</a>
        </form>
      </div>
    </div>


      <div class="space30"></div>

      <div class="card" style="width: 28rem;">
        <h5 class="card-title"><img src="{% static "images/lady.jpg" %}" width="30" height="30" alt="" loading="lazy" radiuis="50%"> Card title</h5>
        <img src="{% static "images/back 3.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <div style="line-height: 5px" >
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Comment" aria-label="Search">
            <a href="#" class="btn btn-danger">Post</a>
          </form>
        </div>
      </div>

      <div class="space30"></div>

    <div class="blog-post">
      <h2 class="blog-post-title">Sample blog post</h2>
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <p>Cum sociis natoque penatibus et magnis  nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
      </div>
        <div class="card-body">
          <div style="line-height: 5px" >
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          <img src="{% static "images/star.png" %}" width="20" height="20" alt="" loading="lazy">
          </div>
          <p class="card-text">4.5 rating</p>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Comment" aria-label="Search">
            <a href="#" class="btn btn-danger">Post</a>
          </form>
        </div>
      </div>

      <div class="space30"></div>
    </div>
</main>

<!-- FOOTER -->

                  <footer>
                    <div class="container">
                        <div class="row">

                          <div class="col-md-4">
                              <div class="more-info">
                                  <ul>
                                      <li><img class="mb-2" src="{% static "images/AvenzonePerfect.png" %}" alt="" width="24" height="24"><span>Avenzone</span></li>
                                      <li> Socail Gaming Platform</li>
                                      <li><a href="http://www.mnnit.ac.in/">MNNIT Allahabad</a></li>
                                  </ul>
                              </div>
                          </div>

                          <div class="col-md-4">
                              <div class="more-info">
                                  <ul>
                                    <li><span> More From Us </span></li>
                                    <li><a  href="{% url 'accounts:about' %}">About</a></li>
                                    <li><a href="{% url 'accounts:team' %}">Contact</a></li>
                                    <li><a href="#">Cool stuff</a></li>
                                  </ul>
                              </div>
                          </div>

                          <div class="col-md-4">
                            <div class="more-info">
                                <ul>
                                    <li><span>Legal Stuff </span></li>
                                    <li><a href="{% url 'accounts:privacy' %}">Privacy</a></li>
                                    <li><a href="{% url 'accounts:terms' %}">Terms</a></li>
                                    <li><a href="#">Locations</a></li>
                                </ul>
                            </div>
                          </div>
                        </div>

 <!-- BOTTOM FOOTER -->
                        <div class="bottom-footer">
                            <p><span >Copyright © 2020 Avenzone</span></p>
                        </div>
                    </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static "js/jquery.slim.min.js" %}"><\/script>')</script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

</body>
</html>
