<!DOCTYPE html>
{% load static %}
  {% endblock %}
  <!-- FOOTER -->

                  <footer>
                    <div class="container">
                        <div class="row">

                          <div class="col-md-4">
                              <div class="more-info">
                                  <ul>
                                      <li><img class="mb-2" src="{% static "images/AvenzonePerfect.png" %}" alt="" width="24" height="24"><span>Avenzone</span></li>
                                      <li> Socail Gaming Platform</li>
                                      <li><a href="http://www.mnnit.ac.in/">MNNIT Allahabad</a></li>
                                  </ul>
                              </div>
                          </div>

                          <div class="col-md-4">
                              <div class="more-info">
                                  <ul>
                                    <li><span> More From Us </span></li>
                                    <li><a  href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'team' %}">Contact</a></li>
                                    <li><a href="#">Cool stuff</a></li>
                                  </ul>
                              </div>
                          </div>

                          <div class="col-md-4">
                            <div class="more-info">
                                <ul>
                                    <li><span>Legal Stuff </span></li>
                                    <li><a href="{% url 'privacy' %}">Privacy</a></li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Locations</a></li>
                                </ul>
                            </div>
                          </div>
                        </div>

 <!-- BOTTOM FOOTER -->
                        <div class="bottom-footer">
                            <p><span >Copyright © 2020 Avenzone</span></p>
                        </div>
                    </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static "js/jquery.slim.min.js" %}"><\/script>')</script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

</body>
</html>
