<!doctype html>
{% extends "accounts/base.html" %}
{% block body_block %}
{% load static %}
<link href="{% static "css/self/editdetails.css" %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

        @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

        @media screen and (min-width: 601px) {
        div.examplet {
          font-size: 80px;
        }
      }

    @media screen and (max-width: 600px) {
      div.examplet {
        font-size: 30px;
      }
    }
    </style>

<main role="main" class="container">
  <div class = "space100"></div>

  <div class="container dark" style="color: grey; background: rgba(85, 85, 85, 0.3);  ">
      <div class="main">
        <div class="main-center">
        <h4>Update your Info</h4>
          <form class="" method="post"> {% csrf_token %}

            <div class="form-group">
              <label for="password">Bio</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" value="{{profile.bio}}" name="bio" placeholder="Tell Something about You"/>
                </div>
            </div>

            <div class="form-group">
              <label for="name">City</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="city" id="city" value="{{profile.city}}" placeholder="Enter city"/>
                </div>
            </div>
            <div class="form-group">
              <label for="email">Country</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="country" value="{{profile.country}}" placeholder="Enter country"/>
                </div>
            </div>

            <div class="form-group">
              <label for="username">Date of Birth</label>
              <label for="username">Previous data: {{profile.dob}}</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control col-md-4" value = {{profile.dob|date:"Y"}} name="doby" placeholder="YYYY"/>
                  <input type="text" class="form-control col-md-4" value = {{profile.dob|date:"m"}} name="dobm" placeholder="MM"/>
                  <input type="text" class="form-control col-md-4" value = {{profile.dob|date:"d"}} name="dobd" placeholder="DD"/>
                  <!-- <input type="text" class="form-control col-md-4" name="dob" placeholder="year"/> -->
                </div>
            </div>

            <div class="form-group">
              <label for="name">Your phone number</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="tel" class="form-control" name="phone" id="phone" value="{{profile.phone}}" placeholder="phone"/>
              </div>
            </div>

            

            <!-- <div class="form-group">
              <label for="confirm">extra</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="confirm" placeholder="extra"/>
                </div>
            </div> -->

        <button type="submit" class="btn btn-danger">UPDATE</button>

          </form>

        </div><!--main-center"-->
      </div>
    </div>
    <div class = "space50"></div>
</main>
<script src="{% static "js/offcanvas.js" %}"></script>
 {% endblock %}
