<!doctype html>
{% extends "accounts/base.html" %}
{% block body_block %}
{% load static %}

<link href="{% static "css/self/explore.css" %}" rel="stylesheet">
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Gamers</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section>

  <div class="album py-5 bg">
    <div class="container">

      <div class="row">
        {% for game in games %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/media/{{game.thumbpic}}" width="100%" height="225" alt="" loading="lazy">
            <div class="card-body">
              <h3 class="card-header"> {{ game.name }} </h3>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a role="button" href="#game-{{forloop.counter}}" data-toggle="collapse" aria-controls="{{game.pk}}" aria-expanded="false" class="btn btn-sm btn-outline-secondary">Read More</a>
                  <a href="{{ game.steamlink }}" role="button" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
              <div class="collapse" id="game-{{forloop.counter}}" >
                <p class="card-text" > {{ game.desc }} </p>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
        <!-- <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static "images/back 2.jpg" %}" width="100%" height="225" alt="" loading="lazy">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static "images/back 3.jpg" %}" width="100%" height="225" alt="" loading="lazy">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static "images/back 4.jpg" %}" width="100%" height="225" alt="" loading="lazy">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static "images/back 5.jpg" %}" width="100%" height="225" alt="" loading="lazy">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static "images/back 6.jpg" %}" width="100%" height="225" alt="" loading="lazy">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static "images/back 7.jpg" %}" width="100%" height="225" alt="" loading="lazy">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{% static "images/back 8.jpg" %}" width="100%" height="225" alt="" loading="lazy">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
             <img src="{% static "images/back 9.jpg" %}" width="100%" height="225" alt="" loading="lazy">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>

{% endblock %}
