<!doctype html>
{% extends "accounts/base.html" %}
{% block body_block %}
{% load static %}

<link href="{% static "css/self/home.css" %}"  rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

       @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

       @media screen and (min-width: 601px) {
       div.examplet {
       font-size: 80px;
       }
       }

       @media screen and (max-width: 600px) {
       div.examplet {
       font-size: 30px;
       }
       }
    </style>

<!-- main  -->
 <main role="main"  style="margin-top: 75px;">
     <div class="container-fluid gedf-wrapper">
        <div class="row" >
            <div class="col-md-3"  >
                <div class="card"style="color: grey; background: rgba(85, 85, 85, 0.3); margin-left: 10px; margin-bottom: 15px;">
                    <div class="card-body">
                        <div class="h5">@LeeCross</div>
                        <div class="h7 text-muted">Fullname : Miracles Lee Cross</div>
                        <div class="h7">Pro player in Zombie tsunami, Amongus, Mario, Snake, etc.
                        </div>
                    </div>
                    <ul class="list-group list-group-flush" style="background: rgba(00, 00, 00, 0.3);">
                        <li class="list-group-item" style="background: rgba(00, 00, 00, 0.3);">
                            <div class="h6 text-muted">Followers</div>
                            <div class="h5">5.2342</div>
                        </li>
                        <li class="list-group-item"style="background: rgba(00, 00, 00, 0.3);">
                            <div class="h6 text-muted">Following</div>
                            <div class="h5">6758</div>
                        </li>
                        <li class="list-group-item"style="background: rgba(00, 00, 00, 0.3);">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 gedf-main">

              <!--- POST 1 -->
              <div class="card gedf-card " style="color: grey; background: rgba(85, 85, 85, 0.3); margin-top: 10px; ">

                  <div class="card-header ">
                      <div class="d-flex justify-content-between align-items-center">

                          <div class="d-flex justify-content-between align-items-center">
                              <div class="mr-2">
                                  <img class="rounded-circle" width="45" src="{% static "images/lady.png" %}" alt="">
                              </div>
                              <div class="ml-2">
                                  <div class="h5 m-0">@LeeCross</div>
                                  <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                              </div>
                          </div>

                          <div>
                              <div class="dropdown">
                                  <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: grey;background: rgba(00, 00, 00, 0.3);">
                                      <i class="fa fa-ellipsis-h"></i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                      <div class="h6 dropdown-header">Configuration</div>
                                      <a class="dropdown-item" href="#">Save</a>
                                      <a class="dropdown-item" href="#">Hide</a>
                                      <a class="dropdown-item" href="#">Report</a>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>

                  <div class="card-body" style="color: grey; background: rgba(85, 85, 85, 0.3);">
                      <a class="card-link" href="#">
                          <h5 class="card-title" style="color: white"> CAPTAIN AMERICA: SHIELD STRIKE</h5>
                      </a>

                      <p class="card-text">
                          <span style="">CAPTAIN AMERICA: SHIELD STRIKE HYDRA</span>
                          has taken over a secret mountain base where they are planning their next assault! It's heavily guarded by HYDRA forces. Play as Captain America, infiltrate the base and use your shield to take out all the soldiers before they stop you first. You must regain control of this base!
                      </p>

                      <div>
                          <span class="badge badge-light">Marvel</span>
                          <span class="badge badge-light">CharacterCaptainAmerica</span>
                          <span class="badge badge-light">CapFans</span>
                          <span class="badge badge-light">Avengers</span>
                          <span class="badge badge-light"></span>
                          <span class="badge badge-light"></span>
                      </div>
                  </div>

                  <div class="card-footer">
                      <a href="#" class="card-link"style="color: grey;background: rgba(00, 00, 00, 0.3);"><i class="fa fa-gittip"></i> Rating</a>
                  </div>

                  <form class="form-inline my-2 my-lg-0" style="background: rgba(00,00,00,0.3);">
                    <img src="{% static "images/lady.png" %}" width="40px" class="card-img-comment" alt="...">
                     <input class="form-control mr-sm-2 comment" type="search" placeholder="Type your comment....    " aria-label="Search">
                     <a href="#" class="btn btn-danger btn-sm ">Post</a>
                  </form>

              </div>
              <!-- Post1 ENDS /////-->
              <div class="space50"></div>
              <!--- POST 2-->
                      <div class="card gedf-card " style="color: grey; background: rgba(85, 85, 85, 0.3); margin-top: 10px; ">

                          <div class="card-header ">
                              <div class="d-flex justify-content-between align-items-center">

                                  <div class="d-flex justify-content-between align-items-center">
                                      <div class="mr-2">
                                          <img class="rounded-circle" width="45" src="{% static "images/lady.png" %}" alt="">
                                      </div>
                                      <div class="ml-2">
                                          <div class="h5 m-0">@LeeCross</div>
                                          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                                      </div>
                                  </div>

                                  <div>
                                      <div class="dropdown">
                                          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: grey;background: rgba(00, 00, 00, 0.3);">
                                              <i class="fa fa-ellipsis-h"></i>
                                          </button>
                                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                              <div class="h6 dropdown-header">Configuration</div>
                                              <a class="dropdown-item" href="#">Save</a>
                                              <a class="dropdown-item" href="#">Hide</a>
                                              <a class="dropdown-item" href="#">Report</a>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>

                          <div class="card-body" style="color: grey; background: rgba(85, 85, 85, 0.3);">
                              <a class="card-link" href="#">
                                  <h5 class="card-title" style="color: white"> CAPTAIN AMERICA: SHIELD STRIKE</h5>
                              </a>

                              <p class="card-text">
                                  <span style="">CAPTAIN AMERICA: SHIELD STRIKE HYDRA</span>
                                  has taken over a secret mountain base where they are planning their next assault! It's heavily guarded by HYDRA forces. Play as Captain America, infiltrate the base and use your shield to take out all the soldiers before they stop you first. You must regain control of this base!
                              </p>

                              <div>
                                  <span class="badge badge-light">Marvel</span>
                                  <span class="badge badge-light">CharacterCaptainAmerica</span>
                                  <span class="badge badge-light">CapFans</span>
                                  <span class="badge badge-light">Avengers</span>
                                  <span class="badge badge-light"></span>
                                  <span class="badge badge-light"></span>
                              </div>
                          </div>

                          <div class="card-footer">
                              <a href="#" class="card-link"style="color: grey;background: rgba(00, 00, 00, 0.3);"><i class="fa fa-gittip"></i> Rating</a>
                          </div>

                          <form class="form-inline my-2 my-lg-0" style="background: rgba(00,00,00,0.3);">
                            <img src="{% static "images/lady.png" %}" width="40px" class="card-img-comment" alt="...">
                             <input class="form-control mr-sm-2 comment" type="search" placeholder="Type your comment....    " aria-label="Search">
                             <a href="#" class="btn btn-danger btn-sm ">Post</a>
                          </form>

                      </div>
                      <!-- Post2 ENDS /////-->
                      <div class="space50"></div>
                      <!-- POST 3-->

                      <div class="card gedf-card " style="color: grey; background: rgba(85, 85, 85, 0.3); margin-top: 10px; ">

                          <div class="card-header ">
                              <div class="d-flex justify-content-between align-items-center">

                                  <div class="d-flex justify-content-between align-items-center">
                                      <div class="mr-2">
                                          <img class="rounded-circle" width="45" src="{% static "images/lady.png" %}" alt="">
                                      </div>
                                      <div class="ml-2">
                                          <div class="h5 m-0">@LeeCross</div>
                                          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                                      </div>
                                  </div>

                                  <div>
                                      <div class="dropdown">
                                          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: grey;background: rgba(00, 00, 00, 0.3);">
                                              <i class="fa fa-ellipsis-h"></i>
                                          </button>
                                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                              <div class="h6 dropdown-header">Configuration</div>
                                              <a class="dropdown-item" href="#">Save</a>
                                              <a class="dropdown-item" href="#">Hide</a>
                                              <a class="dropdown-item" href="#">Report</a>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>

                          <div class="card-body" style="color: grey; background: rgba(85, 85, 85, 0.3);">
                                <img src='{% static "images/back 3.jpg" %}' class="card-img-top" alt="...">
                          </div>

                          <div class="card-footer">
                            <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
                            <img src='{% static "images/gstar.png" %}' width="40" alt="" loading="lazy">
                            <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
                            <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
                            <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
                              <a href="#" class="card-link"style="color: grey;background: rgba(00, 00, 00, 0.3);"><i class="fa fa-gittip"></i> Rating</a>
                          </div>

                          <form class="form-inline my-2 my-lg-0" style="background: rgba(00,00,00,0.3);">
                            <img src="{% static "images/lady.png" %}" width="40px" class="card-img-comment" alt="...">
                             <input class="form-control mr-sm-2 comment" type="search" placeholder="Type your comment....    " aria-label="Search">
                             <a href="#" class="btn btn-danger btn-sm ">Post</a>
                          </form>

                      </div>
                      <!-- Post3 ENDS /////-->
                      <div class="space50"></div>
                      <!-- POST 4-->
                      <div class="card gedf-card " style="color: grey; background: rgba(85, 85, 85, 0.3); margin-top: 10px; ">

                          <div class="card-header ">
                              <div class="d-flex justify-content-between align-items-center">

                                  <div class="d-flex justify-content-between align-items-center">
                                      <div class="mr-2">
                                          <img class="rounded-circle" width="45" src="{% static "images/lady.png" %}" alt="">
                                      </div>
                                      <div class="ml-2">
                                          <div class="h5 m-0">@LeeCross</div>
                                          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                                      </div>
                                  </div>

                                  <div>
                                      <div class="dropdown">
                                          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: grey;background: rgba(00, 00, 00, 0.3);">
                                              <i class="fa fa-ellipsis-h"></i>
                                          </button>
                                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                              <div class="h6 dropdown-header">Configuration</div>
                                              <a class="dropdown-item" href="#">Save</a>
                                              <a class="dropdown-item" href="#">Hide</a>
                                              <a class="dropdown-item" href="#">Report</a>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>

                          <div class="card-body" style="color: grey; background: rgba(85, 85, 85, 0.3);">
                              <a class="card-link" href="#">
                                  <h5 class="card-title" style="color: white"> CAPTAIN AMERICA: SHIELD STRIKE</h5>
                              </a>

                              <p class="card-text">
                                  <span style="">CAPTAIN AMERICA: SHIELD STRIKE HYDRA</span>
                                  has taken over a secret mountain base where they are planning their next assault! It's heavily guarded by HYDRA forces. Play as Captain America, infiltrate the base and use your shield to take out all the soldiers before they stop you first. You must regain control of this base!
                              </p>

                              <div>
                                  <span class="badge badge-light">Marvel</span>
                                  <span class="badge badge-light">CharacterCaptainAmerica</span>
                                  <span class="badge badge-light">CapFans</span>
                                  <span class="badge badge-light">Avengers</span>
                                  <span class="badge badge-light"></span>
                                  <span class="badge badge-light"></span>
                              </div>
                          </div>

                          <div class="card-footer">
                              <a href="#" class="card-link"style="color: grey;background: rgba(00, 00, 00, 0.3);"><i class="fa fa-gittip"></i> Rating</a>
                          </div>

                          <form class="form-inline my-2 my-lg-0" style="background: rgba(00,00,00,0.3);">
                            <img src="{% static "images/lady.png" %}" width="40px" class="card-img-comment" alt="...">
                             <input class="form-control mr-sm-2 comment" type="search" placeholder="Type your comment....    " aria-label="Search">
                             <a href="#" class="btn btn-danger btn-sm ">Post</a>
                          </form>

                      </div>
                      <!-- Post4 ENDS /////-->
                      <div class="space50"></div>
                      <!-- Post5 STARTS /////-->

                      <div class="card gedf-card " style="color: grey; background: rgba(85, 85, 85, 0.3); margin-top: 10px; ">

                          <div class="card-header ">
                              <div class="d-flex justify-content-between align-items-center">

                                  <div class="d-flex justify-content-between align-items-center">
                                      <div class="mr-2">
                                          <img class="rounded-circle" width="45" src="{% static "images/lady.png" %}" alt="">
                                      </div>
                                      <div class="ml-2">
                                          <div class="h5 m-0">@LeeCross</div>
                                          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>
                                      </div>
                                  </div>

                                  <div>
                                      <div class="dropdown">
                                          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: grey;background: rgba(00, 00, 00, 0.3);">
                                              <i class="fa fa-ellipsis-h"></i>
                                          </button>
                                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                              <div class="h6 dropdown-header">Configuration</div>
                                              <a class="dropdown-item" href="#">Save</a>
                                              <a class="dropdown-item" href="#">Hide</a>
                                              <a class="dropdown-item" href="#">Report</a>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>

                          <div class="card-body" style="color: grey; background: rgba(85, 85, 85, 0.3);">
                                <img src='{% static "images/back 2.jpg" %}' class="card-img-top" alt="...">
                          </div>

                          <div class="card-footer">
                              <a href="#" class="card-link"style="color: grey;background: rgba(00, 00, 00, 0.3);"><i class="fa fa-gittip"></i> Rating</a>
                          </div>

                          <form class="form-inline my-2 my-lg-0" style="background: rgba(00,00,00,0.3);">
                            <img src="{% static "images/lady.png" %}" width="40px" class="card-img-comment" alt="...">
                             <input class="form-control mr-sm-2 comment" type="search" placeholder="Type your comment....    " aria-label="Search">
                             <a href="#" class="btn btn-danger btn-sm ">Post</a>
                          </form>

                      </div>
                      <!-- Post5 ENDS /////-->
                      <div class="space50"></div>


          </div>
            <div class="col-md-3">
                <div class="card gedf-card" style="color: grey; background: rgba(85, 85, 85, 0.3); margin-right: 10px;margin-bottom: 15px;">
                    <div class="card-body">
                        <h5 class="card-title">MARVEL'S INCREDIBLE HULK  </h5>
                        <h6 class="card-subtitle mb-2 text-muted">CHITAURI TAKEDOWN</h6>
                        <img src="{% static "images/hulk.png" %} " width="270" height="auto" alt="" loading="lazy"class="card-img-top">
                        <p class="card-text">The Chitauri have begun their invasion of Earth, with all the other Avengers down for the count, and it’s up to Hulk to show the Chitauri the meaning of Hulk Smash! Launch Hulk into the air to help takedown the enemy.</p>
                        <a href="#" class="card-link badge badge-light">Incredible Hulk</a>
                        <a href="#" class="card-link"></a>
                    </div>
                </div>
                <div class="card gedf-card" style="color: grey; background: rgba(85, 85, 85, 0.3); margin-right: 10px;margin-bottom: 15px;">
                        <div class="card-body">
                            <h5 class="card-title">CAPTAIN MARVEL</h5>
                            <h6 class="card-subtitle mb-2 text-muted">GALACTIC FLIGHT</h6>
                            <p class="card-text">A Chitauri invasion is underway across the galaxy and Captain Marvel is the only hero might enough to stop it! Rush across the galaxy and use Captain Marvel's energy manipulation powers to vanish Chitauri fleets.</p>
                            <a href="#" class="card-link badge badge-light" >Captain Marvel</a>
                            <a href="#" class="card-link"></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
  {% endblock %}
