<!doctype html>
{% extends "accounts/base.html" %}
{% block body_block %}
{% load static %}

    <link href="{% static "css/self/password.css" %}" rel="stylesheet">
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1>Don't Worry !! Continue Your Amazing Experience , Find a Tricky one this time !!</h1>
        </div>
      </section>
    </main>


      <div class="space50"></div>

  <div class="container">
    <div class="col-md-8 order-md-1">

      <form class="needs-validation" method="POST" action="{% url 'accounts:passwordbase' %}" novalidate> {% csrf_token %}

        <div class="mb-3">
          <label for="email">Email <span class="text-muted"></span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Password</label>
          <input type="password" class="form-control" name="address" id="address" placeholder="Enter Your Password" required>
          <div class="invalid-feedback">
            Please enter a valid password
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Confirm Password</label>
          <input type="password" class="form-control" id="address" placeholder="Confirm Your Password" required>
          <div class="invalid-feedback">
            Password mismatched
          </div>
        </div>

          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">I agree to privacy terms and policy.</label>
          </div>

        <hr class="mb-4">
        <!-- Button trigger modal -->
        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
         Change Password
       </button>

       <div class="modal f" id="staticBackdrop"  tabindex="-1"  aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title">Change Passowrd</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
              Your Password is changed !!
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

             </div>
           </div>
         </div>
       </div>

      </div>
    </form>
  </div>
</div>

 <div class="space50"></div>
 <script src="{% static "js/form-validation.js" %}"></script></body>
{% endblock %}
