<!doctype html>
{% extends "accounts/base.html" %}
{% block body_block %}
{% load static %}

    <link href="{% static "css/self/profile.css" %}" rel="stylesheet">

    <style>

    #home {
      background-image: url('{% static "images/background.png" %}');
      background-size: auto;
    }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

                @media screen and (min-width: 601px) {
          div.examplet {
            font-size: 80px;
          }
        }

        @media screen and (max-width: 600px) {
          div.examplet {
            font-size: 30px;
          }
              }
    </style>



 <main role="main" class="container" style="margin-top: 65px;">

 <!-- first container   -->

    <div class="dark2">
      <img src="{% static "images/gamer.jpg" %}"  alt="" loading="lazy" id="over" style="" class="responsive">
      <div class="container responsive" >
          <span href="" class="header2 username responsive examplet"><img src="{% static "images/lady.png" %}" width="80px" height="80px" style="border-radius:170px; ">
          @coco131 <button type="button" class="btn btn-danger"><a href ="{% url 'accounts:editdetails' %}">Edit Profile</a></button></span>
      </div>
    </div>

<!-- intro block -->
  <div class="row" style="background: rgba(85, 85, 85, 0.3);">

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 rounded" style="background: rgba(00, 00, 00, 0.3); margin: 30px 0px 0px 0px;">
        <h1 class="h1" style="color: gray">INTRO</h1>

        <div class="row space30" >
           <h3 class="font-italic intro"> <img src="{% static "images/gstar.png" %}" width="45px"><a href="#">Rating</a></h3>
        </div>
        <div class="row space30" >
           <h3 class="font-italic intro"> <img src="{% static "images/book.png" %}" width="45px"><a href="{% url 'accounts:details' %}"> About</a></h3>
        </div>
        <div class="row space30" >
           <h3 class="font-italic intro"> <img src="{% static "images/trophies.png" %}" width="45px"><a href="{% url 'accounts:followers' %}"> Followers</a></h3>
        </div>
        <div class="row space30" >
           <h3 class="font-italic intro"> <img src="{% static "images/emoji.png" %}" width="45px"> <a href="{% url 'accounts:following' %}"> Following</a></h3>
        </div>
       </div>
   </aside>
<!-- intro block ends here -->

<!-- post block -->
    <div class="col-md-8 blog-main">
      <div class="space30" style="background: rgba(00, 00, 00, 0.3);" ></div>

      <div class="card" style="background: rgba(00, 00, 00, 0.3);">
         <h5 class="card-title intro"style="background: rgba(00,00,00,0.3);"><img src='{% static "images/lady.png" %}' width="30" height="30" alt="" loading="lazy" radiuis="50%" > coco131</h5>
         <img src='{% static "images/back 1.jpg" %}' class="card-img-top" alt="...">
         <div class="card-body" style="background: rgba(00,00,00,0.3);">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40" alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <p class="card-text" style="font-style: italic;color: gray;">Some quick example text to build on the card title and make up the bulk of  the card's content.</p>

            <form class="form-inline my-2 my-lg-0" style="background: rgba(00,00,00,0.3);">
            	<img src='{% static "images/lady.png" %}' width="40px" class="card-img-comment" alt="...">
               <input class="form-control mr-sm-2 comment" type="search" placeholder="Type your comment here....    " aria-label="Search">
               <a href="#" class="btn btn-danger ">Post</a>
            </form>
        </div>
      </div>

  <div class="space30"></div>

      <div class="card" style="background: rgba(00, 00, 00, 0.3);">
         <h5 class="card-title intro"style="background: rgba(00,00,00,0.3);"><img src='{% static "images/lady.png" %}' width="30" height="30" alt="" loading="lazy" radiuis="50%" > coco131</h5>
         <img src='{% static "images/back 2.jpg" %}' class="card-img-top" alt="...">
         <div class="card-body" style="background: rgba(00,00,00,0.3);">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40" alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <p class="card-text" style="font-style: italic;color: gray;">Some quick example text to build on the card title and make up the bulk of  the card's content.</p>

            <form class="form-inline my-2 my-lg-0" style="background: rgba(00,00,00,0.3);">
            	<img src='{% static "images/lady.png" %}' width="40px" class="card-img-comment" alt="...">
               <input class="form-control mr-sm-2 comment" type="search" placeholder="Type your comment here....    " aria-label="Search">
               <a href="#" class="btn btn-danger ">Post</a>
            </form>
        </div>
      </div>

        <div class="space30"></div>

      <div class="card" style="background: rgba(00, 00, 00, 0.3);">
         <h5 class="card-title intro"style="background: rgba(00,00,00,0.3);"><img src='{% static "images/lady.png" %}' width="30" height="30" alt="" loading="lazy" radiuis="50%" > coco131</h5>
         <img src='{% static "images/back 3.jpg" %}' class="card-img-top" alt="...">
         <div class="card-body" style="background: rgba(00,00,00,0.3);">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40" alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
             <p class="card-text" style="font-style: italic;color: gray;">Some quick example text to build on the card title and make up the bulk of  the card's content.</p>

            <form class="form-inline my-2 my-lg-0" style="background: rgba(00,00,00,0.3);">
            	<img src='{% static "images/lady.png" %}' width="40px" class="card-img-comment" alt="...">
               <input class="form-control mr-sm-2 comment" type="search" placeholder="Type your comment here....    " aria-label="Search">
               <a href="#" class="btn btn-danger ">Post</a>
            </form>
        </div>
      </div>
<!-- post block ends -->

<!-- blog block -->
    <div class="space30"></div>

     <div class="blog-post" style="padding: 2px; background: rgba(00,00,00,0.3);">
       <h2 class="blog-post-title" style="color: gray; background: rgba(00,00,00,0.3);" >The Ultimate Marvel's Spider-Man: Miles Morales Story Primer
        by BEN REEVES on Oct 16, 2020 at 12:00 PM</h2>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="padding: 2px; font-style: italic; color: gray">

        <p>Insomniac's follow-up to its 2018 open-world superhero adventure is just around the corner. In this adventure Peter Parker takes backstage, giving Miles a chance to shine as the lead. In the 2018 release, Insomniac put a focus on narrative and told an incredibly human story about loss and standing up for what’s right.</p>   <p>Miles' game doesn’t look any different. Here is everything you need to know about Miles Morales’ story before playing the new game. Spoiler warning for Insomniac's 2018 game.</p>

       </div>
     <div class="card-body" style="padding: 2px; background: rgba(00,00,00,0.3);  ">
       <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
       <img src='{% static "images/gstar.png" %}' width="40" alt="" loading="lazy">
       <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
       <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
       <img src='{% static "images/gstar.png" %}' width="40"  alt="" loading="lazy">
        <p class="card-text" style="color: gray">4.5 rating</p>
        <form class="form-inline my-2 my-lg-0" style="background: rgba(00,00,00,0.3);">
          <img src="../assets/brand/lady.png" width="40px" class="card-img-comment" alt="...">
           <input class="form-control mr-sm-2 comment" type="search" placeholder="Type your comment here...   " aria-label="Search">
          <a href="#" class="btn btn-danger">Post</a>
        </form>
        </div>
      </div>
  </div>
</main>
<!-- blog block ends -->
{% endblock %}
