<!doctype html>
{% extends "accounts/base.html" %}
{% block body_block %}
{% load static %}

    <link href="{% static "css/self/terms.css" %}" rel="stylesheet">

  <main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
         <img src="{% static "images/terms1.jpg" %}" width="40" height="50" alt="" loading="lazy">
          <div class="container">
            <div class="carousel-caption ">
              <h1>Terms Of Service</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div class="py-5 text-center">
      <div class="container">

        <p>Thank you for visiting Avenzone, before you comment or submit any personal information, please give our terms of service a read. By accessing Avenzone, you agree to our terms of service, and all applicable laws and regulations. If you do not agree with any of these terms, you are prohibited from accessing or utilizing this website.</p>

				<span>Disclaimer:</span>
				<p>The materials and content provided on Avenzone are meant for educational, informational, and/or entertainment use only. Any opinions or expressed ideas are those of the content’s author, and does not necessarily reflect the views of Avenzone, its partners, sponsors, or advertisers. The parties responsible for Avenzone are not liable to any person or persons whatsoever for potential loss, claims, injuries, damages, or any other actions coming from the use or relying of content or materials published on Avenzone.</p>

				<span>Revisions and Errata</span>
				<p>Articles or content that are published to this website may be changed at any time without notice. Links or sponsored websites have their own respective terms of service agreements and privacy policies, and as such Avenzone is not responsible for any information, products or services provided by the aforementioned external parties. Avenzone extends no warranties in regards to the accuracy, quality or truthfulness of any content or materials posted to our website.</p>

				<span>Copyrighted Materials</span>
				<p>Any copyrighted or trademarked intellectual properties belong to their respective trademark or copyright holders. Any original content published to Avenzone, including but not limited to: published articles, written content, images, videos, photographs, and any and all information of any kind are owned and protected exclusively (while being subject to licenses) by Avenzone . The act of copying, reproducing, republishing, uploading or modifying any protected content in whole or part is strictly prohibited and could lead to legal action against the offender(s).</p>

				<span>User Submitted Content</span>
				<p>The act of submitting content on Avenzone means you are in agreeance with our privacy policy and terms of service, and that your submitted content does not contain anything infringing, libelous, and or illegal. Any content submitted to Niche Gamer including (but not limited to) art, comments, forum posts, videos, and any information therein become the property of Niche Gamer, which holds the right to alter, remote, republish or redistribute said content.</p>

				<span>Non-Liability</span>
				<p>Under no circumstance is Avenzone liable for any consequential, incidental, indirect, punitive, special and or other damages whatsoever. This also includes without limitation: damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Avenzone’s website, even if the parties responsible for Avenzone have been consulted of the possibility of such damages. By agreeing to these terms of service, you agree to hold Avenzone completely without liability or fault in any possible court proceedings.</p>

				<span>Reserved Rights</span>
				<p>Avenzone reserves the right to change or update these terms at any time. Any and all updates or alterations made will be noted of here. Content, offers, and giveaways can be changed or updated without prior notice. Giveaways may not be processed for any legitimate reason. Avenzone reserves the right to make any and all decisions including, but not limited to revisions of content, the activation and termination of accounts, and the processing of giveaways.</p>

				<span>Membership</span>

				<p>Users are eligible for a free Avenzone forums account. However, membership is reliant on the user abiding by our terms of service, featured both above and below.</p>

				<p>•	Users 13 years of age or younger are not allowed to register for a Avenzone forums account.</p>
				<p>•	Membership can be revoked at any time for any reason. The continuance of your membership is based upon the judgement of the administration.</p>
				<p>•	You, the user, remain solely responsible for the content of your message(s), and you agree to idemnify and hold Avenzone harmless with any claim or legal action based upon the content of your message(s).
				General Commenting Guidelines</p>
				<p>•	Sharing of pirated material is not allowed. Emulation discussion is OK, and only talking about piracy is OK but no direct links to pirated material.</p>
				<p>•	Pornography (exposed genitals, nipples, etc.) is not allowed. This also includes strategically covered nipples, genitals, etc. Due to our reliance on advertisers, we cannot show pornographic material unless clearly put behind an age-gate or otherwise (which removes our advertisements).</p>
				<p>•	Self-Promotion: If you’re a developer, indie or otherwise, please refrain from posting about your game(s). You can contact us if you’d like our readers to know about your game.</p>
				<p>•	Language: Generally, we tolerate swearing but are not ok with users swearing excessively, and so on. If you continually swear at others and/or become somewhat of a completely intolerable nuisance, we may have to moderate you.</p>
				<p>•	Discourse: When people disagree on something, it can provide some of the most interesting moments in our community. However, we aim to keep things civil, while allowing you to be passionate. With this in mind, please try to keep things related to the debate at hand.</p>
				<p>•	Sharing the work of others: So long as you properly credit a source, you are free to share articles and or material from third parties. Passing off someone else’s work as your own is a quick way to be moderated.</p>

				<span>Moderation</span>
				<p>•	Generally, free speech reigns here at Avenzone . We seriously try to avoid getting in between conversations and hot debates with our fans. We are not your parents, and as such generally adhere to a “hands-off” policy for moderating comments.</p>
				<p>•	The rule of thumb is that we usually will not moderate a discussion unless legal concerns come into play. This can involve piracy, pornography (especially certain forms of pornography), and direct, specific, threats of a legitimate nature (i.e. you live here, I will come and hurt you, etc).</p>
				<p>•	Threats/Insults: A reminder, we have zero tolerance for legitimate, calculated threats. Personal insults are generally frowned upon, however, in the course of a debate, things may get construed and we’ll do everything in our power to continue the discussion.</p>
				<p>•	Continued targeting of a specific user for unreasonable or nonsensical reasons is also frowned upon.</p>
				<p>•	Blocking is a very handy feature in the place of a heavily moderated community (we are not one).</p>
				<p>•	Due to the real-time nature of our website articles and our forums, it’s virtually impossible for us to scan every single message. However, we reserve the right to delete or edit any message for any reason, provided said message contains personal information, illegal materials, etc.</p>
				<p>•	Moderation operates under a three strike system: first strike is a two week ban, second strike is a month-long ban, and the third/final strike is a permanent ban.</p>
				<p>•	Final word of advice: We seek to give you, the reader, a platform to relax and have a fun discussion. We are not here to tone police you, advertise our own politics, or condescend to you. Our goal is to foster a fun, laid-back, and passionate gaming community. Enjoy!</p>

       <div class="space50"></div>
    </div>
</div>
{% endblock %}
